.container{
    display: flex;
    flex-direction: column;
}
.label{
    margin: 25px 25px 0px 30px;
    color: rgb(0, 55, 85);
    font-weight: 500;
    font-size: 14px;
}
/* 
STYLING INPUT NOW */

.input_savings {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 235px;
  height: 50px;
  background-color: white;
  margin: 10px 25px 25px 25px;
  border: none;
  text-align: right;
  padding-right: 15px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
}
.input_savings:focus {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input_savings:active {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input_savings:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input_saving::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.error_msg{
  transition: 0.3s all;
  width: 222px;
  margin: 0px 25px 25px 25px;
  padding: 10px 15px;
  background-color: #fbb273;
  color: #ffffff;
  font-size: 13px;
}
@media screen and (max-width: 480px) {
  .input_savings {
    width: auto;
  }
  .error_msg{
    width: auto;
  }
  .label {
    margin-top: 0px;
  }
}